

td {
    border: 1px solid blue;
    height: 200px;
    width: 200px;
  }
  
  td:hover {
    background: orange;
    height: 200px;
    width: 200px;
  }
  }
  
  table {
    border: 2000px solid green;
  }